* {
  box-sizing: border-box;
}

body {
  font: 14px monospace;
  max-width: 480px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #36393f;
  color: white;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  float: right;
}

li {
  margin: 5px 0;
}

#chatControls {
  margin-top: 10px;
  margin-bottom: 10px;
}

#chatControls {
  overflow: auto;
}

#chatControls:after {
  content: "";
  display: table;
  clear: both;
}

#userlist {
  position: fixed;
  left: 50%;
  list-style: none;
  margin: 0 0 0 250px;
  background-color: #36393f;
  padding: 5px 10px;
  width: 150px;
  top: 30px;
}

#chat p {
  margin: 5px 0;
  font-weight: 300
}

#chat .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

#chat article {
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #aaa;
  position: relative;
  word-wrap: break-word;
}

#chat article:first-of-type {
  background: #c9edc3;
  border-left-color: #74a377;
  animation: enter .2s 1;
}

@keyframes enter {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  to {
    transform: none;
  }
}

#chat-block {
  display: none;
  background-color: #36393f;
}

.message {
  border-bottom-color: rgba(255, 255, 255, 0.06);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: 480px;
  word-wrap: break-word;
}

.user-login {
  color: rgb(46, 204, 113);
}

.system-message {
  font-style: italic;
  color: lightgrey;
}

#loginPane {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #72767d;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.btn {
  background-color: #7289da;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  height: 44px;
  min-height: 44px;
  min-width: 130px;
  width: 130px;
  -moz-user-select: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-user-select: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  padding: 2px 16px;
  position: relative;
  user-select: none;
}

.btn-small {
  background-color: #7289da;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  height: 22px;
  min-height: 22px;
  min-width: 100px;
  width: 100px;
  -moz-user-select: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-user-select: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  padding: 2px 16px;
  position: relative;
  user-select: none;
}

.btn-small:hover {
  background-color: #677bc4;
}

.btn:hover {
  background-color: #677bc4;
}

.label {
  margin-bottom: 5px;
  display: inline-block;
}

#login {
  width: 100%;
}